{% extends 'base.html.twig' %}

{% block body %}
    <div class='jumbotron'>
        <h1>WestVault PLN</h1>
        <p>This is the administrative front-end for the WestVault PLN.</p>
    </div>
{% endblock %}
