{% extends 'base.html.twig' %}

{% block body %}
    <div class='jumbotron'>
        <h1>PKP Private LOCKSS Network</h1>
        <p>This is the administrative front-end for the PKP-PLN. End-users
            wanting more information, or wanting to join the PLN
            should check out <a href="http://pkp.sfu.ca/pkp-lockss">pkp.sfu.ca/pkp-lockss</a>.
        </p>
    </div>
{% endblock %}
