<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Uuid</th>
            <th>Name</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        {% for provider in providers %}
            <tr>
                <td>
                    <a href="{{ path('provider_show', { 'id': provider.id }) }}">
                        {{ provider.uuid }}
                    </a>
                </td>

                <td>
                    {{ provider.name }}
                </td>

                <td>
                    {{ provider.email }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
