{% extends 'base.html.twig' %}

    {% block title %}New Provider {% endblock %}

    {% block body %}
        <h1>New Provider</h1>

        {% embed 'provider/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
