{% extends 'base.html.twig' %}

    {% block title %}Edit Blacklist {% endblock %}

    {% block body %}
        <h1>Edit Blacklist</h1>

        {% embed 'blacklist/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
