{% extends 'base.html.twig' %}

    {% block title %}New Blacklist {% endblock %}

    {% block body %}
        <h1>New Blacklist</h1>

        {% embed 'blacklist/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
