{% extends 'base.html.twig' %}

    {% block title %}Edit Document {% endblock %}

    {% block body %}
        <h1>Edit Document</h1>

        {% embed 'document/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
